body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/img/posibles-backgrounds/background-space.avif');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#start-panel {
  width: 768px;
  height: 768px;
  background-image: url('/assets/img/posibles-backgrounds/start-panel2.jpg');
  background-size: cover;
  position: relative;
}

#button-start {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 85%;
  left: 45%;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #cc0000;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 0 rgb(216, 119, 0);
  opacity: 0.8;
}

#button-start:hover {
  background-color: #990000;
  opacity: 0.6;
}

#button-start:active {
  background-color: darkred;
  opacity: 0.4;
}

#gameOver-panel {
  width: 768px;
  height: 768px;
  background-image: url('/assets/img/GameOver.jpg');
  background-size: cover;
  position: relative;
}

#button-restart {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 85%;
  left: 45%;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #00cc2c;
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 0 rgb(0, 216, 126);
  opacity: 0.8;
}

#button-restart:hover {
  background-color: #129900;
  opacity: 0.6;
}

#button-restart:active {
  background-color: darkgreen;
  opacity: 0.4;
}
