body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/img/posibles-backgrounds/background-space.avif');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#start-panel {
  width: 768px;
  height: 768px;
  background-image: url('/assets/img/posibles-backgrounds/start-panel2.jpg');
  background-size: cover;
  
}

#button-start {

}

